<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1 class="main__heading">Danh sách sản phẩm</h1>   
    <form action="{{ url_for('search_products') }}" method="GET">
        <input class="search__input" type="text" name="search_query" placeholder="Tìm kiếm sản phẩm...">
        <input class="search__button" type="submit" value="Tìm kiếm">
        <a class="add__button" href="{{ url_for('index') }}">Danh sách đơn hàng</a>
    </form>
    <table>
      <thead>
        <tr>
          <th>Mã sản phẩm</th>
          <th>Tên sản phẩm </th>
          <th>Mô tả</th>
          <th>Giá</th>
          <th>Ảnh</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {% if products %}
            {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                    <td>{{ product[3] }}</td>
                    <td><img class="main__product__image" src="../static/images/{{ product[4] }}" alt=""></td>
                    <td>
                    <a href="/add/{{product[0]}}">Mua</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p class="alert__none">Không tìm thấy sản phẩm</p>
        {% endif %} 
      </tbody>
    </table>
  </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>